body{
    background-color: aquamarine;
}


.navbar{
 display: inline-block;
}

a{
    display: block;
    height: 50px;   
    padding: 0 20px ;
    background-color: tomato;
    color:rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
    text-transform: uppercase;
}